<!DOCTYPE html>
<html>
<head>
    <title>All Scores</title>
</head>
<body>
    <h1>All Scores</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Timestamp</th>
        </tr>
        {% for score in all_scores %}
        <tr>
            <td>{{ score['name'] }}</td>
            <td>{{ score['score'] }}</td>
            <td>{{ score['timestamp'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back to Home</a>
</body>
</html>
